body{
	background-color: #e9e7da;
	font-family: 華康翩翩體;
	color: white;
	margin: 0;
}
.big{
	margin: 5%;
	background-color: #e8c3b9;
	color: white;
}
table.intro{
	margin-left: 5%;
	margin-top: 25%;
	font-size: 1.2em;
}
td.hello{
	font-size: 160%; 
	font-weight: bolder;
	padding-bottom: 5%; 
	font-family:SentyTEA;
}

.profile_table{
	margin-top: 10%;
}
img.profile{
	width: 80%;
	margin: 8%;
}
.ml1 {
    font-weight: 300;
    font-size: 1.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
table.contact{
	margin-top: 25%;
	font-size: 1.2em;
}
td.contact{
	font-size: 160%; 
	font-weight: bolder;
	padding-bottom: 5%; 
	font-family:SentyTEA;
}
td.social_media{
	padding-top: 15%;
}
h2.education{
	margin-left: 83%;
	margin-top: 8%;
	margin-bottom: 8%;
	font-size: 180%;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  	position: relative;
  	margin-left:50%;
  	margin-top: 2%;
  	float: left;
 	width: 50%;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  	content: '';
  	position: absolute;
  	width: 6px;
  	background-color: white;
  	top: 0;
  	bottom: 0;
  	left: 102%;
  	margin-left: -3px;
}
/* Container around content */
.container_ {
  	padding: 1% 8%;
  	position: relative;
  	background-color: inherit;
  	width: 100%;
}
/* The circles on the timeline */
.container_::after {
  	content: '';
  	position: absolute;
  	width:10%;
  	height: 25%;
  	right: -7%;
  	background-color: white;
  	border: 4px solid #984143;
  	top: 11%;
  	border-radius: 50%;
  	z-index: 1;
}
/* Place the container to the left */
.left {
  	left: 0;
}
/* Place the container to the right */
.right {
  	left: 105%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  	content: " ";
  	height: 0;
  	position: absolute;
  	top: 22%;
  	width: 0;
  	z-index: 1;
  	right: 12px;
  	border: medium solid white;
  	border-width: 10px 0 10px 10px;
  	border-color: transparent transparent transparent #984143;
}
/* Add arrows to the right container (pointing left) */
.right::before {
  	content: " ";
  	height: 0;
  	position: absolute;
  	top: 22%;
  	width: 0;
  	z-index: 1;
  	left: 12px;
  	border: medium solid white;
  	border-width: 10px 10px 10px 0;
  	border-color: transparent #984143 transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
  	left: -8%;
}
/* The actual content */
.content {
  	padding:3%;
  	background-color:	#984143;
  	color: white;
  	font-size: 1.2ßem;
  	position: abosolute;
  	top:0%;
  	border-radius: 10px;
  	text-align:center;
}
.content:hover{
	background-color:	#eac67a;
}
table.work{
	font-size: 1em;
	margin-top: 8%;
	border-left-style: dashed;
	border-left-style: 5px;
	padding-left: 15%;
	text-align: center;
}
td.year{
	font-weight: bold;
	padding-top: 5%;
}
td.work{
	font-size: 150%;
}
img.workpic1{
	transition-duration: 0.5s;
	overflow: hidden;
	margin: 10%;
}
img.workpic1:hover{
	opacity: 0.7;
	transform: scale(1.2);
}
h2.lanskill{
	margin-left: 30%;
	margin-top: 8%;
	font-size: 180%; 
	font-weight: bolder;
}
.skillbox{
	box-sizing: border-box;
	flex-direction: row;
	margin: 5px;
	padding: 5px;
	font-size: 20px;
}
.skill{
	background-color: #262626;
	padding: 4px;
	box-sizing: border-box;
	color:white;
	border-radius: 50px;
}
.skill_level{
	background-color:#eac67a;
	border-radius: 50px;
	text-align: right;
	height:20px;
}
.english{
	animation-name: skillenglish;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.chinese{
	animation-name: skillchinese;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.danish{
	animation-name: skilldanish;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.c{
	animation-name: skillc;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.java{
	animation-name: skilljava;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.html{
	animation-name: skillhtml;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
.jsp{
	animation-name: skilljsp;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
}
@keyframes skillenglish{
	0%{width: 0%}
	100%{width: 88%}
}
@keyframes skillchinese{
	0%{width: 0%}
	100%{width: 98%}
}
@keyframes skilldanish{
	0%{width: 0%}
	100%{width: 30%}
}
@keyframes skillc{
	0%{width: 0%}
	100%{width: 70%}
}
@keyframes skilljava{
	0%{width: 0%}
	100%{width: 70%}
}
@keyframes skillhtml{
	0%{width: 0%}
	100%{width: 82%}
}
@keyframes skilljsp{
	0%{width: 0%}
	100%{width: 70%}
}
@keyframes statistics
{
	from{
		right: 0px;
	}
	to{
		top: 230%;
		left: 45%;
	}
}
h2.lessons{
	margin-left: 30%;
	margin-top: 8%;
	margin-bottom: 8%;
	font-size: 180%;
	font-family:SentyTEA;
}
.lesson{
	margin-top: 15%;
}
img.class1{
	width: 40%;
}
img.class2{
	width:40%;
}
img.class3{
	width:40%;
	margin-top: 5%;
}
img.class4{
	width:40%;
	margin-top: 5%;
}
img.class5{
	width:40%;	
	margin-top: 5%;
}
img.class6{
	width:40%;
	margin-top: 5%;	
}
ul.pro01{
	margin-left: 2%;
	margin-right: 8%;
	list-style: upper-roman;
	font-size: 1.2em;
	color: black;
}
img.img1{
	width: 28%;
	position: absolute;
	float: right;
	top: 40%;
	margin-left: 38%;
	box-shadow: 8px 5px 8px gray;
	border-radius: 10px;
}
img.img2{
	width: 28%;
	position: absolute;
	float: right;
	top: 40%;
	margin-left: 68%;
	box-shadow: 8px 5px 8px gray;
	border-radius: 10px;
}
img.img3{
	width: 35%;
	position: absolute;
	float: right;
	top: 36%;
	margin-left: 48%;
	box-shadow: 8px 5px 8px gray;
	border-radius: 10px;
	margin-bottom: 4%;
}
.img1:hover{
	-moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    width: 27%;
}
.img2:hover{
	-moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    width: 27%;
}
.img3:hover{
	-moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    width: 34%;
}
* {
  box-sizing: border-box;
}
/* Center website */
.main {
  	max-width: 100%;
  	margin-left: 0%;
}
.row2 {
  	margin-left: 0%;
}
/* Add padding BETWEEN each column */
.row2,
.row2 > .column2 {
 	padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column2 {
  	float: left;
  	width: 47%;
  	margin-left: 1%;
}
/* Clear floats after rows */ 
.row2:after {
  	content: "";
  	display: table;
  	clear: both;
}
/* Content */
.content2 {
 	background-color: #233237;
  	padding: 10px;
  	margin-left: 5%;
  	margin-top: 10%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}
img.project_pic{
	transform:scale(1,1);
	transition: all 1s ease-out;
	overflow:hidden;
	width: 100%;
}
img.project_pic:hover{
	transform:scale(1.2,1.1);
}
h2.Contests{
	text-align: center;
	font-size: 180%;
	padding-top: 5%;
	padding-bottom: 5%;
}
img.cer{
	margin-top: 30%;
}
.containerr{
	margin-left: 8%;
}
.hover-box {
	margin-bottom: 4%;
	float: left;
	max-width: 40%;
 	max-height: 40%;
  	box-sizing: border-box;
  	position:relative;
  	box-shadow: 8px 5px 5px gray;
}
.hover-box .img-box {
  position: relative;
  overflow: hidden;
}
.hover-box .img-box img {
  margin: auto;
  transition: transform 0.5s;
}
.hover-box:hover .img-box img {
  transform: scale(1.3);
}
.hover-box .info-box {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom:0%;
  right:0%;
  color:#fff;
  background:rgba(0,0,0,.6);
  text-align:left;
  transform:scaleY(0);
  transition:transform .5s;
  width: 100%;
} 
.hover-box .info-box .info-content{
  position:absolute;
  top:45%;
  left: 28%;

}
.hover-box:hover .info-box {
  transform:scaleY(1);
}
.container2{
	position: absolute;
	margin-left: 51%;
}
.hover-box2 {
	margin-bottom: 4%;
	float: left;
	max-width: 36%;
 	max-height: 36%;
  	box-sizing: border-box;
  	position:relative;
  	box-shadow: 8px 5px 5px gray;
}
.hover-box2 .img-box2 {
  position: relative;
  overflow: hidden;
}
.hover-box2 .img-box2 img {
  margin: auto;
  transition: transform 0.5s;
}
.hover-box2:hover .img-box2 img {
  transform: scale(1.3);
}
.hover-box2 .info-box2 {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom:0%;
  right:0%;
  color:#fff;
  background:rgba(0,0,0,.6);
  text-align:left;
  transform:scaleY(0);
  transition:transform .5s;
  width: 100%;
} 
.hover-box2 .info-box2 .info-content2{
  position:absolute;
   top:45%;
  left: 25%;
}
.hover-box2:hover .info-box2 {
  transform:scaleY(1);
}
.container3{
	position: absolute;
	margin-left: 51%;
	margin-bottom: 30%;
}
.hover-box3 {
	margin-bottom: 4%;
	float: left;
	max-width: 60%;
 	max-height: 60%;
  	box-sizing: border-box;
  	position:relative;
  	box-shadow: 8px 5px 5px gray;
}
.hover-box3 .img-box3 {
  position: relative;
  overflow: hidden;
}
.hover-box3 .img-box3 img {
  margin: auto;
  transition: transform 0.5s;
}
.hover-box3:hover .img-box3 img {
  transform: scale(1.3);
}
.hover-box3 .info-box3 {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom:0%;
  right:0%;
  color:#fff;
  background:rgba(0,0,0,.6);
  text-align:left;
  transform:scaleY(0);
  transition:transform .5s;
  width: 100%;
} 
.hover-box3 .info-box3 .info-content3{
  position:absolute;
   top:45%;
  left: 20%;
}
.hover-box3:hover .info-box3 {
  transform:scaleY(1);
}

.uppp{                        /*回到最上面*/
	position: fixed;
	right:15px;
	bottom:35px;
	width: 60px;
}
.uppp:hover{                 /*回到最上面特效*/
	width: 70px;
	z-index: 10;
}
.footer{
  	background-color:  #e9e7da;
  	position: absolute;
  	margin-right: 0px;
  	margin-left: 0px;
  	margin-bottom: 0px;
  	padding: 0% 0% 3%;
  	text-align: center;
  	width: 100%;
  	font-family:"MagnoliaLight";
	color: black;
}